@import url('https://fonts.googleapis.com/css2? family= Hind+Siliguri:wght@500 & display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Hind Siliguri', sem serifa;
  background-color: #762FCF;
  color: white;
}
nav{
  height: 50px;
}
nav > h4{
  position: relative;
  bottom: 70px;
}
nav > h4 > img{
  width: 100px;
  position: relative;
  top: 43px;
  left: 30px;
}
.box1{
  width: 100%;
  height: 768px;
  display: flex;
  justify-content: space-around;
}
.container1{
  width: 50%;
  margin: auto;
  text-align: center;
}
.container2{
  width: 50%;
  background-image: url('img/foto-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.box2{
  height: 490px;
  background-color: #9244F3;
}
#box2_1{
  display: none;
  height: 420px;
}
h2{
  padding: 20px;
}
.caixa{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  height: 370px;
}
.jogos{
  background-color: white;
  width: 210px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transition:0.5s;
}
.jogos:hover {
  transform: translate(0px, -5px);
  cursor: pointer;
  transition: transform 0.4s;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3)
}
.m-jogos{
  width: 180px;
  height: 170px;
  background-color: black;
  position: relative;
  bottom: 30px;
  border-radius: 20px;
  margin: 0 auto;
  transition: 0.2s;
}
.m-jogos:hover{
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}
.jogos-texto{
  width: 100%;
  height: 80px;
  text-align: center;
}
.jogos-texto > h3{
  color: #F44926;
}
.jogos-texto > h4{
  color: black;
}
#jogo1{
  background-image: url('img/jogo1.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo2{
  background-image: url('img/jogo2.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo3{
  background-image: url('img/jogo3.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo4{
  background-image: url('img/jogo4.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo5{
  background-image: url('img/jogo5.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo6{
  background-image: url('img/jogo6.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo7{
  background-image: url('img/jogo7.jpeg');
  background-size: cover;
  background-position: center center;
}
#jogo8{
  background-image: url('img/jogo8.jpeg');
  background-size: cover;
  background-position: center center;
}
.box-btns{
  width: 100%;
  text-align: center;
}
.btn{
  margin: 0 auto;
  padding: 10px 90px 10px 90px;
  background-color: #F44926;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
}
.btn:hover{
  background-color: #AE422D;
  cursor: pointer;
}
 .box3{
   height: 460px;
 }
 #box3_2{
   display: none;
   height: 390px;
 }
.controle-cor{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition:0.5s;
}
.controle-cor:hover{
   transform: translate(0px, -5px);
   cursor: pointer;
   transition: transform 0.2s;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.caixa2{
  width: 90%;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
#controle1{
  background-image: url('img/contro1.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}
#controle2{
  background-image: url('img/contro2.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  grid-row-start: 1;
  grid-row-end: 3;
}
#controle3{
  background-image: url('img/contro3.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  grid-row-start: 3;
  grid-row-end: 5;
}
#controle4{
  background-image: url(' img/contro4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}
#controle5{
  background-image: url('img/contro5.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  grid-row-start: 1;
  grid-row-end: 3;
}
#controle6{
  background-image: url('img/contro6.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  grid-row-start: 3;
  grid-row-end: 5;
}
.box4{
  height: 610px;
  background-color: #F44926;
}
.caixa3{
  width: 95%;
  height: 80%;
  margin: auto;
  display: flex;
}
.novidade{
  width: 50%;
  height: 90%;
  margin: auto;
}
#novidade1{
  background-image: url('img/controle.png');
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center center;
}
#novidade2{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.novi-texto{
  background-color: #762FCF;
  width: 500px;
  height: 100%;
  border-radius: 5px;
  transition:0.5s;
}
.novi-texto:hover{
   transition:0.5s;
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
}
.h4-configura{
  width: 50%;
  color: #F9B850;
  position: relative;
  font-size: 1.5em;
  top: 1.5em;
  left: 0.7em;
}
.p-configura{
   width: 90%;
   position: relative;
   font-size: 1.2em;
   top: 2.5em;
   left: 1em;
}
.box5{
  height: 600px;
  background-image: url('img/control-bz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.box6{
  height: 500px;
  background-color: #9244F3;
}
.caixa4{
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.iten{
  width: 280px;
  height: 250px;
  text-align: center;
  position: relative;
  left: 22px;
  transition:0.5s;
}
.iten:hover{
  filter: grayscale(5);
  transition:0.5s;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.iten > h3{
  position: relative;
  top: 45%;
}
#iten1{
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url('img/iten1.png');
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
}
#iten2{
   margin: 0 auto;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3;
   background-image: url('img/iten2.png');
   background-repeat: no-repeat;
   background-size: 300px;
   background-position: center center;
}
#iten3{
  margin: 0 auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url('img/iten3.png');
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
}
footer{
  height: 500px;
}
footer > h2{
  text-align: center;
  position: relative;
  right: 50px;
  width: 100%;
}
footer > h2 > img{
  width: 120px;
  position: relative;
  top: 50px;
  left: 40px;
}
.caixa5{
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contato{
  width: 90%;
  height: 190px;
  margin: 20px;
  display: flex;
}
.contato1{
  width: 215px;
  height: 100px;
  margin: auto;
}
.contato2{
  margin: auto;
}
ul{
  list-style: none;
  display: flex;
}
.contato-img{
  width: 60px;
  transition:0.5s;
}
.contato-img:hover{
  transform: translate(0px, -5px);

  transition: transform 0.5s;
}
@media screen and (max-width: 926px){
   .box1{
    height: 600px;
    flex-direction: column;
  }
 .container1{
  width: 100%;
  height: 20%;
  font-size: 0.8em;
 }
 .container2{
   width: 100%;
   background-size: 340px;
   background-position: bottom center;
   height: 50%;
 }
 .box2{
   height: 1300px;
 }
 #box2_1{
   height: 1230px;
 }
 .caixa{
   flex-direction: column;
   height: 1180px;
 }
 .box3{
   height: 460px;
 }
 #box3_2{
   height: 390px;
 }
 .m-jogos:hover {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
  #controle1 {
    background-size: contain;
    background-position: center center;
  }
  .box4{
    height: 700px;
  }
  .caixa3{
    flex-direction: column;
    height: 88%;
  }
  .novidade {
    width:90%;
  }
  #novidade1{
    background-size: 380px;
  }
  .novi-texto{
    width: 400px;
  }
 .novi-texto{
   width: 95%;
 }
 .h4-configura{
  left: 0.6em;
}
.p-configura{
   font-size: 0.90em;
   left: 0.9em;
}
 .box6{
   height: 900px;
 }
 .caixa4{
   height: 90%;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
 }
 .iten {
   width: 290px;
   height: 250px;
 }
 #iten1{
   background-size: cover;
 }
 #iten2{
   background-size: cover;
 }
 #iten3{
   background-size: cover;
 }
 .contato{
  flex-direction: column;
 }
 .contato-img {
   width: 50px;
 }
}

@media screen and (max-width: 480px){
  .p-configura {
    font-size: 0.86em;
  }
  .h4-configura{
    top: 0.9em;
    left: 0.7em;
    font-size: 1.2em;
  }
  .p-configura{
     top: 1.2em;
     font-size: 0.9em;
     left: 1em;
  }
}

@media screen and (max-width: 360px){
  .box1{
    height: 600px;
    flex-direction: column;
  }
 .container1{
  width: 100%;
  height: 20%;
 }
 .container2{
   width: 100%;
   background-size: 340px;
   background-position: bottom center;
   height: 50%;
 }
 .box2{
   height: 1300px;
 }
 #box2_1{
   height: 1230px;
 }
 .caixa{
   flex-direction: column;
   height: 1180px;
 }
 .m-jogos:hover {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
  #controle1 {
    background-size: contain;
    background-position: center center;
    height: ;
  }
  .box4{
    height: 700px;
  }
  .caixa3{
    flex-direction: column;
    height: 88%;
  }
  .novidade {
    width:90%;
  }
 .novi-texto{
   width: 95%;
 }
 .box6{
   height: 700px;
 }
 .caixa4{
   height: 85%;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
 }
 .iten {
   width: 210px;
   height: 205px;
 }
 #iten1{
   background-size: cover;
 }
 #iten2{
   background-size: cover;
 }
 #iten3{
   background-size: cover;
 }
 .contato{
  flex-direction: column;
 }
 .contato-img {
   width: 50px;
 }
}
